<!DOCTYPE html>
<html lang="en">
<%- include ('./patials/head') %>
    <body style=" height: 100vh; background-image: url('https://static.vecteezy.com/system/resources/thumbnails/002/375/040/small/modern-white-background-free-vector.jpg'); background-repeat: no-repeat; background-size: cover;">
                    <div class="container"
                        style="margin-top: 100px; background-color: rgba(0, 0, 0, 0.1); border-radius: 10px;">
                        <div style="padding: 20px;">
                            <table id="mytable" class="table table-dark is-bordered is-striped is-narrow is-hoverable"
                                >
                                <thead style="height: 40px; background-color: aqua; ">
                                    <tr>
                                      
                                        <th class="text-center text-white">User Name</th>
                                        <th class="text-center text-white">Name</th>
                                        <th class="text-center text-white">Year of birth</th>
                                        <th class="text-center text-white">Admin</th>                                       
                                    </tr>
                                </thead>
                                <tbody style="text-align: center;">
                                    <% users.forEach(function(user) { %>
                                        <tr>
                                            <td style="padding-top: 24px;">
                                                <%= user.username %>
                                            </td>
                                            <td style="padding-top: 24px;">
                                                <%= user.name %>
                                            </td>
                                            <td style="padding-top: 24px;">
                                                <%= user.YOB %>
                                            </td>                                       
                                            <td style="padding-top: 24px;">
                                                <%=user.isAdmin===true ? 'True' : 'No' %>
                                            </td>
                                        </tr>
                                        <% }) %>
                                </tbody>
                            </table>
                        </div>

                    </div>
    </body>
    <script>

        $(document).ready(function () {
            $('#mytable').DataTable();
        });
    </script>

</html>